node_modules
npm-debug.log
.git
.gitignore
.env
.env.*
!.env.example
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
.vagrant
.idea
.vscode
*.swp
*.swo
*~
.DS_Store
Thumbs.db
